<!-- Modal -->
<div id="loginform" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form name="signup" action="">
                    <p>Email</p>
                    <input type="email" name="email" id="email" value="admin@admin.me"><br/>
                    <p>Password</p>
                    <input type="password" id="password" name="password" value="ADMIN"><br/>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Remember me</label>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="submit_pop_up" class="btn btn-default">Login</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
